.bouncy-btn {
    transition: transform 0.15s;
}
.bouncy-btn:active {
    transform: scale(0.95);
}
.card {
    border-radius: 1.2rem !important;
    box-shadow: 0 2px 12px rgba(50,50,93,0.06), 0 1.5px 6px rgba(0,0,0,0.03);
}

.navbar {
    border-radius: 0 0 1.5rem 1.5rem;
    margin: 0 auto !important;
}

.container-fluid{
    max-width: 1200px !important;
  margin: 0 auto !important;
}


.container {
  max-width: 1020px !important;
  margin: 0 auto !important;
}

pre {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    font-size: 1.15rem;
    background: none;
    border: none;
}
